.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

body{
    background-color: #F1EFEC;
    font-family: "Montserrat";
}

.top-page{
    color: white;
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid green
}

.top-page h2{
    margin-left: 10px;
}