/* Start of body styles */
.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
    background-color: #D4C9BE;
    font-family: "Montserrat";
}
/* End of body styles */

/* Start of header styling */
.top-page{
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #F1EFEC
}

.top-page h2{
    margin-left: 10px;
}
/* End of header styling */

/* Start of blog boxes styling */
#recent-posts{
    font-weight: 750;
    text-align: center;
    color: white
}

#other-posts{
    font-weight: 700;
    font-size: 1.75rem;
    color: white;
    text-align: center;
}

.blog-boxes{
    margin-top: 50px;
}

.box-line1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.blog-box1{
    background-color: #F1EFEC;
    height: 200px;
    width: 350px;
    border: 5px solid #443928;
    border-bottom: 10px solid #443928;
    border-radius: 10px;
}

.blog-box1 h3, p{
    margin: 15px;
}

.blog-box2{
    background-color: #F1EFEC;
    height: 200px;
    width: 350px;
    border: 5px solid #443928;
    border-bottom: 10px solid #443928;
    border-radius: 10px;
}

.blog-box2 h3, p{
    margin: 15px;
}

.blog-box3{
    background-color: #F1EFEC;
    height: 200px;
    width: 350px;
    border: 5px solid #443928;
    border-bottom: 10px solid #443928;
    border-radius: 10px;
}

.blog-box3 h3, p{
    margin: 15px;
}

.box-line2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.blog-box4{
    background-color: #F1EFEC;
    height: 200px;
    width: 350px;
    border: 5px solid #443928;
    border-bottom: 10px solid #443928;
    border-radius: 10px;
}

.blog-box4 h3, p{
    margin: 15px;
}

.blog-box5{
    background-color: #F1EFEC;
    height: 200px;
    width: 350px;
    border: 5px solid #443928;
    border-bottom: 10px solid #443928;
    border-radius: 10px;
}

.blog-box5 h3, p{
    margin: 15px;
}

.blog-box6{
    background-color: #F1EFEC;
    height: 200px;
    width: 350px;
    border: 5px solid #443928;
    border-bottom: 10px solid #443928;
    border-radius: 10px;
}

.blog-box6 h3, p{
    margin: 15px;
}
/* End of blog boxes styling */

/* Start of footer styling */
footer{
    margin-top: 50px;
    color: white;
    border-top: 5px solid #F1EFEC;
}